*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #F3F4F6;
  font-family: "Montserrat", sans-serif;
}
main{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.container{ 
  margin-top: 60px;
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  box-shadow: #00000029;
  background-color: #FFFFFF;
  padding: 32px;
}
.inner{
  width: 100%;
  /* height: 40vh; */
  gap: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.headline{
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  padding: 2px;
  display: flex;
  justify-content: center;
}
.headline>p{
  color: #000;
}
.input-field{
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  gap: 6px;
}
.text-input{
  width: 280px;
  height: 40px;
  padding-left: 16px;
  border-radius: 6px;
  border: 1px solid #E4E4E7;
}
.add-btn{
  width: 60px;
  height: 40px;
  background-color: #3C82F6;
  border: none;
  border-radius: 6px;
  color: #F9F9F9;
  font-size: 14px;
  font-weight: 400;
}
.filters{
  width: 90%;
  height: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}
.all{
  width: 38px;
  height: 32px;
  display: flex;  
  justify-content: center;
  align-items: center;
  background-color: #3C82F6;
  border-radius: 6px;
 cursor: pointer;
}
.all>p{
  font-size: 12px;
  font-weight: 400;
  color: white;
}

.active{
  width: auto;
  height: 100%;
  padding: 10px;
  background-color: #F3F4F6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
 cursor: pointer;
}

.completed{
  width: auto;
  height: 100%;
  background-color: #F3F4F6;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
 cursor: pointer;
}
.active>p, .completed>p{
  font-size: 14px;
  font-weight: 400;
  color: black;
}
.tasks{
  width: 90%;
}
.no-tasks{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6B7280;
}

.task-item{
  width: 100%;
  height: 62px;
  display: flex;
  gap: 6px;
  margin-top: 6px;
  background-color: #F3F4F6;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  align-items: center;
  border-radius: 8px;
}
.checkbox-container{
  display: flex;
  gap: 6px;
}


.checkbox:checked + .task-text{
  text-decoration: line-through;
}

.delete-btn{
  width: 64px;
  height: 32px;
  background-color: #FEF2F2;
  color: #EF4444;
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-radius: 6px;
}
.edit-btn{
  width: 48px;
  height: 32px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 6px;
}

.task-text{
  font-size: 14px;
  font-weight: 400;
}
.task-buttons-container{
  width: 50%;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
}

.completed-item{
  color: gray;
}

.filters > div.active {
  background: #007bff;
  color: white;
  border-radius: 4px;
}
.clear-completed{
  background-color: #FEF2F2;
  color: #EF4444;
  border: none;
  padding: 8px;
  border-radius: 8px;
  /* width: 50%; */
}