*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #F3F4F6;
  font-family: "Montserrat", sans-serif;
}
main{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.container{
  margin-top: 60px;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  box-shadow: #00000029;
  background-color: #FFFFFF;
}
.headline{
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  padding: 2px;
  display: flex;
  justify-content: center;
}
.headline>p{
  color: #000;
}
.input-field{
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* gap: 6px; */
}
.text-input{
  width: 280px;
  height: 40px;
  padding-left: 16px;
  border-radius: 6px;
  border: 1px solid #E4E4E7;
}
.add-btn{
  width: 60px;
  height: 40px;
  background-color: #3C82F6;
  border: none;
  border-radius: 6px;
  color: #F9F9F9;
  font-size: 14px;
  font-weight: 400;
}
.filters{
  width: 90%;
  height: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}
.all{
  width: 38px;
  height: 32px;
  display: flex;  
  justify-content: center;
  align-items: center;
  background-color: #3C82F6;
  border-radius: 6px;
 cursor: pointer;
}
.all>p{
  font-size: 12px;
  font-weight: 400;
  color: white;
}

.active{
  width: auto;
  height: 100%;
  padding: 10px;
  background-color: #F3F4F6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
 cursor: pointer;
}

.completed{
  width: auto;
  height: 100%;
  background-color: #F3F4F6;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
 cursor: pointer;
}
.active>p, .completed>p{
  font-size: 14px;
  font-weight: 400;
  color: black;
}
.tasks{
  width: 90%;
}
.no-tasks{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6B7280;
}